.ui.borderless.topmenu.menu{
  background-color: black;
  box-shadow:none;
  border: none;
  margin:0px;
  border-radius:0px;
}
.ui.menu .item{
  font-family: monospace;
  font-size:20px;
  color: white;
}

.footer-background{
  background-color:black;
  color: white;
  font-family: monospace;
  padding-top: 20px;
  padding-bottom: 20px;
}